{% extends 'base.html.twig' %}

{% block title %} Hello World! {% endblock %}


{% block stylesheets %} {% endblock %}

{% block body %}
    Hello World!
    <p> Compte: <span class="glyphicon glyphicon-user">dd</span></p>
{% endblock %}
