{% extends 'base.html.twig' %}

{% block title %} Hello World! {% endblock %}

{% block body %}
<button class="more" id="upload">Upload</button>
<div class="container" id="content">
  <div class= "col-lg-12">
    <img src="{{ asset('img/dummy.png') }}" style="">
  </div>
</div>
{% endblock %}
