div{
  background-color: grey;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

#content {
  margin-top: 30px;
}

#content img{
  display:block;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.more {
     margin-top: 10px;
     outline: sollicitudin;
     display: block;
     width: 100%;
     padding: 6px 0;
     text-align: center;
     border: 1px solid #ddd;
     border-bottom: 1px solid #aaa;
     border-right: 1px solid #aaa;
     font-size: 14px;
     text-shadow: 1px 1px 1px #fff;
     font-weight: bold;

     background-color: lightblue;
   }

   .more:hover {
     border: 1px solid #bbb;
     text-decoration: none;
     background-color: red;
   }
