div{
  background-color: grey;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

#content {
  margin-top: 30px;
}

#content img{
  display:block;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
